@import "variables";
@import "mixin";
@import "global";

#login{
    width: 100vw;
    height: 100vh;
    position: relative;
    .card{
        width: 40%;
        position: absolute;
        @include center;
        box-shadow: 0 0 25px white;
        label, h4{
            color: wheat;
            position: relative;
            .login-error-msg{
                position: absolute;
                color: red;
                text-shadow: 0 0 8px $white;
            }
        }
        
    }
}